@import 'scss/font-awesome';

//----- Font awsome -----

@mixin icon($icon) {
	@include icon-FontAwesome();
	content: $icon;
}

@mixin icon-FontAwesome() {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em; // fixes ie7 issues
}

@mixin single-transition($t-property: all, $t-duration: 0.3s, $t-timing: linear, $t-delay: 0s) {
	-webkit-transition: $t-property $t-duration $t-timing $t-delay;
	-moz-transition: $t-property $t-duration $t-timing $t-delay;
	-o-transition: $t-property $t-duration $t-timing $t-delay;
	transition: $t-property $t-duration $t-timing $t-delay;
}

@mixin border_radius($size: 50%) {
	border-radius: $size;
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
}

@mixin shadow($horisontal: 1px, $vertical: 1px, $blur: 5px, $spread: 0, $color: #333333) {
	-webkit-box-shadow: $horisontal $vertical $blur $spread $color;
	box-shadow: $horisontal $vertical $blur $spread $color;
}

$white: #fff;
$black: #000;

// LAYOUT

html,
body {
	background-color: black;
}

.middle {
	max-width: 640px !important;
	background-color: $white !important;
	
	margin: {
		left: auto;
		right: auto;
	}
	
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		clear: both;
		float: none;
	}
}

.row {
	max-width: 76rem;
}

/* Image upload button fix */

.image_upload {
	a.button {
		padding: {
			top: 0.83em !important;
			bottom: 0.83em !important;
		}
		
		& {
			border-left: 1px solid white;
		}
	}
}

/* Navigation */

.left-off-canvas-toggle {
	display: block;
	margin:  15px;
	font-size: 1.5em;
}

.left-off-canvas-menu {
	background-color: $white !important;
	
	ul {
		list-style-type: none;
		margin-top: 20px;
		font-size: 24px;
		
		li {
			margin-bottom: 15px;
		}
		
		a {
			color: $black;
		}
	}
}

